
.search {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  width: 400px;
  justify-content: normal;
  margin-left: "500px"
}

.search_field {
  outline: none;
  font-size: 17px;
  border: none;
  float: left;

}

.search_btn {
  border:none;
  float: right;
  margin-right: 5px;
  border-radius: 5px;
  width: 20%;
  background: #2c0d00;
  color: white;
  font-size: 17px;
  cursor: pointer;

}

  
@media (max-width: 600px) {
  .search {
    width: 100%;
    border-radius: none;
  }
}
